/* popup.css */

/* Reset some default styles */
.leaflet-popup-content {
    margin: 1rem 0.5rem 0.5rem;
    line-height: 1.3;
	padding-bottom: 0.5rem;
}

.leaflet-popup-content h3,
.leaflet-popup-content .popup-info {
    margin: 0.2rem 1;
}

/* Style the popup content */
.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.popup-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.popup-content h3 {
    font-size: 1.1rem;
    font-weight: bold;
	margin: 0.2rem 0; /* Reset the margin for the <h3> element */
}

.popup-content a {
    font-size: 1.0rem;
    color: #007bff;
    text-decoration: none;
}

.popup-content a:hover {
    text-decoration: underline;
}
