html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: calc(100% - 60px);
    width: 100%;
	position: relative;
    box-sizing: border-box;
}

#footer {
    height: 60px;
    width: 100%;
    box-sizing: border-box;
}

#whereButton {
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    background-color: #fff;
    
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 8px 12px;
    cursor: pointer;
}